.Person {
    border: 1px solid rgb(196, 196, 196);
    margin: 16px auto;
    width: 60%;
    background-color: rgb(233, 233, 233);
    box-shadow: 5px 8px 10px rgba(207, 207, 207, 0.377);
}

input {
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 4px;
}